@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <div class="row">
        <h1>View Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product_Name</th>
                    <th>Product_Description</th>
                    <th>Product_Price</th>
                    <th>Product_Quantity</th>
                    <th>Cart_Id</th>
                    <th>Product_Id</th>
                    <th>Order_Quantity</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var prod in ViewBag.products)
                {

                    <tr>
                        <th>@prod.productid</th>
                        <td>@prod.prodName</td>
                        <td>@prod.prodDesc</td>
                        <td>@prod.prodPrice</td>
                        <td>@prod.Quantity</td>
                        <td>@prod.Card_Id</td>
                        <td>@prod.productid</td>
                        <td>@prod.Quantity</td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

